<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <title>Title</title>
</head>
<body ng-app="fbApp">

<div ng-controller="fbCtrl" ng-init="init()">
    <h3>welcome {{profileName}}</h3>
    <div ng-repeat="x in albumnList" ng-if="x.photo_count > 0">
        <h4 >{{x.name }}</h4>
        <h4 > Total images : {{x.photo_count}}</h4>
        <img ng-src ="{{ x.picture.url }}" width="50%" height="100%" class="img-responsive" style="min-height:252px; max-height:252px;"/>
    </div>


</div>
<script>
    var app = angular.module('fbApp',[]);

    app.controller('fbCtrl',function($scope,$http,$window){
        $scope.init= function(){
            $scope.profileName = null;
            $scope.albumnList = [];
            $http.get('home.php')
                    .then(function(response){
                        //alert('Called');
                        //console.log("hi");
                        $scope.data = response.data;
                        $scope.profileName = $scope.data[0];
                        var i;

                        for(i=1;i<=$scope.data.length;i++){
                            $scope.albumnList[i-1] = $scope.data[i];
                        }
                        //$scope.photo = response.data;
                        //$scope.photo = $scope.photo.slice(1,-1);
                        console.log(response);
                        console.log($scope.profileName);
                        console.log($scope.albumnList);
                        //console.log($scope.photo);
                    });

        };
    });
</script>
</body>
</html>