<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body ng-app="fbApp">

<div ng-controller="fbCtrl" ng-init="init()">
    <h3>welcome {{profileName}}</h3>
   <!-- <div ng-repeat="x in albumnList" ng-if="x.photo_count > 0">
        <h4 >{{x.name }}</h4>
        <h4 > Total images : {{x.photo_count}}</h4>
        <img ng-src ="{{ x.picture.url }}" width="50%" height="100%" class="img-responsive" style="min-height:252px; max-height:252px;"/>
    </div>-->
    <div class="w3-container">
        <div class="row" style="padding-right: 10%;">
            <div class="col-md-offset-1 col-md-3" ng-repeat="x in albumnList" ng-if="x.photo_count > 0">
                <div class=" w3-card-4" style="height: 375px;">
                    <img ng-src ="{{ x.picture.url }}" style="width:100%; height:200px;">
                    <div class="w3-container">
                        <h4 >{{x.name }}</h4>
                        <h4 > Total images : {{x.photo_count}}</h4>
                        <button class="w3-button w3-white w3-border w3-border-blue" ng-click="slideShow(x.photos)">Show Full Screen</button><br>
                        <button class="w3-button w3-white w3-border w3-border-blue" ng-click="zip(x.photos)">Download</button>
                    </div>
                </div>

        </div>
    </div>
</div>
    {{downloadLink}}
    {{downloadLink}}
<script>
    var app = angular.module('fbApp',['ngStorage']);

    app.controller('fbCtrl',function($scope,$http,$localStorage,$window){
        $scope.init= function(){
            $scope.profileName = null;
            $scope.albumnList = [];
            $http.get('home.php')
                    .then(function(response){
                        //alert('Called');
                        //console.log("hi");
                        $scope.data = response.data;
                        $scope.profileName = $scope.data[0];
                        var i;

                        for(i=1;i<=$scope.data.length;i++){
                            $scope.albumnList[i-1] = $scope.data[i];
                        }
                        //$scope.photo = response.data;
                        //$scope.photo = $scope.photo.slice(1,-1);
                        console.log(response);
                        console.log($scope.profileName);
                        console.log($scope.albumnList);
                        //console.log($scope.photo);
                    });

        };

        $scope.slideShow = function(photo){
            $localStorage.gallery = photo;
            $window.open('slideShow.html');
        };

        $scope.zip = function(files){
            var image = [];
            for(i=0;i<files.length;i++)
            {
                image.push( files[i].images[1].source);

            }
            console.log(image);
            $http({
                method : "POST",
                url: 'zip.php',
                data: image,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(function mySuccess(response) {
                console.log(data);
                var base_url = window.location.origin;
                alert('Find download link at bottom of page. \nInfo:This site uses Pop-up windows. \nPlease disable any Pop-up blocker');
                $scope.downloadLink= base_url+'/'+data[0] ;

            }, function myError(response) {
                console.log(response);
                console.log("error");
            });
        };
    });
</script>
</body>
</html>