<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <title>Title</title>
</head>
<body ng-app="fbApp">
<p>welcome user</p>
<div ng-controller="fbCtrl" ng-init="init()">
   <!-- <div ng-repeat="x in data" ng-if="x.photo_count > 0">
        <h4 >{{x.name }}</h4>
        <h4 > Total images : {{x.photo_count}}</h4>
        <img ng-src ="{{ x.picture.url }}" width="100%" height="100%" class="img-responsive" style="min-height:252px; max-height:252px;"/>
    </div>-->
    <img src="{{photo}}" />
</div>
<script>
    var app = angular.module('fbApp',[]);

    app.controller('fbCtrl',function($scope,$http,$window){
        $scope.init= function(){
            $photo = null;
            $http.get('home.php')
                    .then(function(response){
                        //alert('Called');
                        //console.log("hi");
                        $scope.data = response.data;
                        $photo = response.data;
                        $photo = $photo.slice(1,-1);
                        console.log(response);
                        console.log($photo);
                    });

        };
    });
</script>
</body>
</html>